<aside id="left-panel">

  <!-- User info -->
  <sa-login-info></sa-login-info>
  <!-- end user info -->

  <nav>
    <!-- NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

    <ul saSmartMenu>
      <li>
        <a title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span
          class="menu-item-parent">{{'Dashboard' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/main/dashboard/analytics">{{'Key Metrics' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/main/smartadmin/app-layouts">{{'Risk Appetite' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/main/graphs/sparklines">{{'Stress Testing' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/main/graphs/dygraphs">{{'Profitability' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/main/graphs/chart-js">{{'Compliance' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/main/smartadmin/prebuilt-skins">{{'Operational Risk' | i18n}}</a>
          </li>
        </ul>
      </li>

      <li class="top-menu-invisible">
        <a href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">{{'REPORTING' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/main/smartadmin/app-layouts"><i class="fa fa-gear"></i>
              {{'Management' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/main/smartadmin/prebuilt-skins"><i class="fa fa-picture-o"></i>
              {{'Regulatory' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/main/graphs/chart-js"><i class="fa fa-picture-o"></i>
              {{'GRC' | i18n}}</a>
          </li>
        </ul>
      </li>

      <li class="top-menu-invisible">
        <a href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">{{'ANALYTICS' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/main/smartadmin/app-layouts"><i class="fa fa-gear"></i>
              {{'Modeling' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/main/smartadmin/prebuilt-skins"><i class="fa fa-picture-o"></i>
              {{'Profitablility' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/main/graphs/chart-js"><i class="fa fa-picture-o"></i>
              {{'RWA Calculator' | i18n}}</a>
          </li>
        </ul>
      </li>

      <li class="top-menu-invisible">
        <a href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">{{'DATA PLATFORM' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/main/smartadmin/app-layouts"><i class="fa fa-gear"></i>
              {{'ERA' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/main/smartadmin/prebuilt-skins"><i class="fa fa-picture-o"></i>
              {{'GCD' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/main/graphs/chart-js"><i class="fa fa-picture-o"></i>
              {{'GRC' | i18n}}</a>
          </li>
        </ul>
      </li>
    </ul>
    <aside-chat></aside-chat>
  </nav>

  <sa-minify-menu></sa-minify-menu>

</aside>
